.custom__button {
    background-color: #E55F52;
    border: 0;
    padding: 12px 24px;
    border-radius: 12px;

    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    width: fit-content;
}